li.brand, li.item {
  list-style: none;
  display: inline;
  color: #000;
  background: orange;
  float: left; }

li a:hover {
  color: orange;
  background: #000; }

#meunavbar {
  background: orange;
  display: table;
  width: 100%; }

li a {
  text-decoration: none; }

li.brand {
  font: 15px verdana, arial, tahoma, sans-serif;
  padding: 5px 10px;
  margin-left: 5px;
  margin-right: 25px; }

li.item {
  font: 12px verdana, arial, tahoma, sans-serif;
  padding: 5px 10px;
  margin-left: 1px; }
