
%navbar-item {
	list-style: none;
	display: inline;
	color: #000;
	background: orange;
	float: left;
}

%navbar-hover {
	color: orange;
	background: #000;
}

@mixin texto ($tamanho, $margem, $pad1, $pad2) {
    font: $tamanho verdana, arial, tahoma, sans-serif;
    padding: $pad1 $pad2;
    margin-left: $margem;
}

#meunavbar {
	background: orange;
	display: table;
	width: 100%;
}

li a {
	text-decoration: none;
}

li a:hover {
	@extend %navbar-hover;
}

li.brand {
	@extend %navbar-item;
	@include texto(15px, 5px, 5px, 10px);
	margin-right: 25px;
}

li.item {
	@extend %navbar-item;
	@include texto(12px, 1px, 5px, 10px);
}