%navbar-item {
	list-style: none;
	display: inline;
	color: #000;
	background: orange;
	float: left;
}

%navbar-hover {
	color: orange;
	background: #000;
}

@mixin texto ($tamanho, $margem, $pad1, $pad2) {
    font: $tamanho verdana, arial, tahoma, sans-serif;
    padding: $pad1 $pad2;
    margin-left: $margem;
}